.counter {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.inputValue{
    text-align: center;
    width: 120px;
    height: 20px;
    margin-left: 20px;

}
.inputValue_Red{
    text-align: center;
    width: 120px;
    height: 20px;
    margin-left: 20px;
    border: red solid 2px;



}